<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mis registros </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form novalidate [formGroup]="form" (ngSubmit)="filtrar()">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Fecha inicial</ion-label>
          <ion-icon
            color="success"
            slot="end"
            name="enter-outline"
            id="fecha-ini-trigger"
          ></ion-icon>
          <ion-popover trigger="fecha-ini-trigger" triggerAction="click" size="auto">
            <ng-template>
              <ion-content class="ion-padding">
                <ion-datetime formControlName="fecha_ini"></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label>Fecha final</ion-label>
          <ion-icon
            color="success"
            slot="end"
            name="enter-outline"
            id="fecha-fin-trigger"
          ></ion-icon>
          <ion-popover trigger="fecha-fin-trigger" triggerAction="click" size="auto">
            <ng-template>
              <ion-content class="ion-padding">
                <ion-datetime formControlName="fecha_fin"></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button type="submit" [disabled]="form.invalid">
      Filtrar
    </ion-button>
  </form>
  <ng-container *ngFor="let item of alimentos">
    <ion-card>
      <ion-item>
        <ion-label>
          <div>
            <ion-text color="secondary">
              <strong>Alimento </strong>
            </ion-text>
            {{ item.alimento_consumido }}
          </div>
        </ion-label>
        <ion-icon
          color="success"
          slot="end"
          name="enter-outline"
          id="click-trigger"
        ></ion-icon>
        <ion-popover trigger="click-trigger" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-label><strong>Alimento: </strong></ion-label>
                {{ item.alimento_consumido }}
              </ion-item>
              <ion-item>
                <ion-label><strong>Cantidad: </strong></ion-label>
                {{ item.cantidad }}
              </ion-item>
              <ion-item>
                <ion-label><strong>Calorías: </strong></ion-label>
                {{ item.calorias_promedio }}
              </ion-item>
              <ion-item>
                <ion-label><strong>Fecha y hora: </strong></ion-label>
              </ion-item>
              <ion-item>
                <ion-label>{{ item.fecha_hora }}</ion-label>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-card>
  </ng-container>
  <ion-infinite-scroll (ionInfinite)="index($event)">
    <ion-infinite-scroll-content
      loadingText="Cargando más datos..."
      loadingSpinner="crescent"
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
